extends layout

block content
  #container.col
    p Login!
    button(onclick="login()") authenticate
    p Login!
  script.
    function login() {
      window.location.href = '/authenticate'
    }
